.empleados{
    width: 100%;
}
.form_empleados{
    width: 700px;
    padding: 50px;
    margin: auto;
}
.form_empleados form{
    width: 600px;
}
.table_form td{
    padding: 5px;
}
.form_empleados h1{
    font-size: 4rem;
    text-align: center;
    margin-bottom: 40px;
}
.form_empleados p{
    font-size: 1.7rem;
    margin-bottom: 20px;
    text-align: justify;
}
.form_empleados form input{
    width: 100%;
    padding: 5px 7px;
    font-size: 1.4rem;

}
.form_empleados form label{
    font-size: 1.5rem;
    font-weight: 600;
}
.form_empleados table select{
    font-size: 1.4rem;
    display: block;
    width: 100%;
}
.form_empleados table option{
    font-size: 1.4rem;
    display: block;
    width: 100%;
}
#btn_enviar{
    margin-top: 30px;
    border: none;
    background-color: rgb(255, 128, 82);
    color: white;
    font-size: 1.7rem;
    font-weight: 600;
    padding: 8px 0;
}

/***************************************/
.tab_empleados{
    padding: 20px;
}
.tab_empleados h3{
    font-size: 2.7rem;
    margin: 40px 10px;
}

.tab_empleados table{
    width: 100%;
}
.tab_empleados table th{
    background-color: rgb(255, 170, 0);
    font-size: 1.5rem;
    padding: 5px;
}
.tab_empleados table td{
    font-size: 1.5rem;
    background-color: rgb(238, 238, 238);
    padding: 0px 5px;
    text-align: center;
}
.btn_mod{
    font-size: 1.5rem;
    padding: 3px 0;
    margin-left: 5px;
    width: 120px;
    color: white;
    border: 1px solid rgb(148, 148, 148);
}
.btn_editar{
    background-color: steelblue;
}
.btn_eliminar{
    background-color: tomato;
}
.footer{
    margin-top: 120px;
}