.vacaciones{
    display: flex;
}
/******************************/
.table_vacaciones{
    width: 70%;
    padding: 100px;
    padding: 50px;
    margin: auto;
}

.table_vacaciones h3{
    font-size: 2.5rem;
    margin-top: 20px;
    margin-bottom: 20px;
}
.table_vacaciones h1{
    font-size: 3.5rem;
    text-align: center;
    padding-bottom: 30px;
}
.table_vacaciones p{
    font-size: 1.7rem;
    margin-bottom: 20px;
    text-align: justify;
}
.table_v_aceptadas table, .table_v_sin_aceptar table{
    width: 100%;
}
.table_v_aceptadas table th, .table_v_sin_aceptar table th{
    background-color: rgb(255, 170, 0);
    font-size: 1.5rem;
    padding: 7px 0;
}
.table_v_aceptadas table td, .table_v_sin_aceptar table td{
    font-size: 1.5rem;
    background-color: rgb(238, 238, 238);
    padding: 7px 0;
    text-align: center;
}
.table_v_sin_aceptar table{
    margin-bottom: 30px;
}
.btn_mod{
    font-size: 1.5rem;
    padding: 3px 0;
    margin-left: 5px;
    width: 120px;
    color: white;
    border: none;
    font-weight: 600;
}
.btn_editar{
    background-color: rgb(4, 207, 41);
}
.btn_eliminar{
    background-color: rgb(255, 88, 59);
}
.editar{
    width: 280px;
}